/LinkedListsAggregates.sln.DotSettings.user
/.idea/
/LinkedListsAggregates.Tests/bin/
/LinkedListsAggregates.Tests/obj/
/LinkedListsAggregates.Tests/bin/Debug/
/LinkedListsAggregates/bin/
/LinkedListsAggregates/obj/
